{% extends 'voter_analytics/base.html' %}

{% block content %}
<div class="container">
    <h1>Voter Data Graphs</h1>

    <form method="get">
        {{ form.as_p }}
        <button type="submit">Filter</button>
    </form>

    <h2>Distribution of Voters by Year of Birth</h2>
    <div class="graph">{{ yob_chart|safe }}</div>

    <h2>Distribution of Voters by Party Affiliation</h2>
    <div class="graph">{{ party_pie_chart|safe }}</div>

    <h2>Voting Participation</h2>
    <div class="graph">{{ participation_chart|safe }}</div>
</div>
{% endblock %}
