body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; 
    color: #333; 
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #0056b3; 
}

nav {
    text-align: center;
    background-color: #007bff; 
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    text-align: center;
    /* margin-top: 20px; */
    width: 80%;
    margin: auto;
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table th {
    background-color: #007bff;
    color: white;
}

.pagination {
    text-align: center;
    margin: 20px 0;
}

.pagination a {
    margin: 0 5px;
    text-decoration: none;
    color: #007bff;
}

.pagination a:hover {
    text-decoration: underline;
}

form {
    text-align: center;
    margin-bottom: 20px;
}

form label {
    display: inline-block;
    margin-right: 10px;
}

form select, form input, form button {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

form button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

.graph {
    margin: 20px auto;
    text-align: center;
}

a.btn {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

a.btn:hover {
    background-color: #0056b3;
}

ul {
    padding: 0;
    list-style-type: none;
}

ul li {
    margin: 5px 0;
}
