<html lang="en">
    <head>
        <title>Mini Facebook</title>
        {% load static %}
        <!-- <link rel="stylesheet" href="https://cs-people.bu.edu/enano1/minifbstyles.css"> -->
        <link rel="stylesheet" href="{% static 'mini_fb/minifbstyles.css' %}">
    </head>
    <body>
        <header>
            <h1 class="facebook">Mini Facebook</h1>
            <nav>
                <a class="profilebutton" href="{% url 'show_all_profiles' %}">View All Profiles</a>
                <a class="profilebutton" href="{% url 'create_profile' %}">Create a  Profile</a>
                                      
            </nav>
            
            <hr>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>
