<!-- templates/mini_fb/friend_suggestions.html -->
{% extends 'mini_fb/base.html' %}

{% block content %}
    <h3>Friend Suggestions for {{ profile.fname }} {{ profile.lname }}</h3>

    <div class="friends-grid">
        {% if friend_suggestions %}
            {% for suggestion in friend_suggestions %}
                <div class="friend-box">
                    <div class="friend-image-box">
                        <img src="{{ suggestion.image_url }}" alt="{{ suggestion.fname }} {{ suggestion.lname }}" class="friend-image">
                    </div>
                    <div class="friend-info">
                        <div class="friend-name">{{ suggestion.fname }} {{ suggestion.lname }}</div>
                        <form action="{% url 'add_friend' profile.pk suggestion.pk %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="profile-button">Add Friend</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No friend suggestions available.</p>
        {% endif %}
    </div>

    <br>
    <a href="{% url 'show_profile' profile.pk %}" class="profile-button">Back to Profile</a>
{% endblock %}

