<!-- templates/mini_fb/show_all_profiles.html -->
{% extends 'mini_fb/base.html' %}

{% block content %}
    <h2>All Profiles</h2>
    <div class="profile-grid">
        {% for profile in profiles %}
        <div class="profile-card">
            <a href="{% url 'show_profile' profile.pk %}"> 
                {% if profile.image %}
                    <img src="{{ profile.image.url }}" alt="{{ profile.fname }}'s profile picture">
                {% else %}
                    <p>No profile image uploaded.</p>
                {% endif %}
            </a>

            <div class="profile-info">
                <div class="profile-name">{{ profile.fname }} {{ profile.lname }}</div>
                <div class="profile-city">{{ profile.city }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}

