{% extends 'mini_fb/base.html' %}
{% block content %}
    <div class="profile-grid">

        {% for profile in profiles %}
        <div class="profile-card">

            <img src="{{ profile.image_url }}" class="profile-image" alt="{{ profile.fname }} {{ profile.lname }}">

            <div class="profile-info">

                <div class="profile-name">{{ profile.fname }} {{ profile.lname }}</div>
                <div class="profile-city">{{ profile.city }}</div>

            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}


